.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

.astro-social-share {
  margin: 20px 0px;
  height: 24px;
  display: flex;
  justify-content: center;  /* centers the buttons */
  align-items: center;
} 
.astro-social-share a {
  text-decoration: none;
  margin-right: 10px;
}
.astro-social-share svg {
  height: 24px;
}
.astro-social-share a:hover svg  {
  transform: scale(1.2);
  color: rgb(129, 129, 129);
}









