.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

.astro-social-share {
  margin: 20px 0px;
  height: 24px;
  display: flex;
  justify-content: center;  /* centers the buttons */
  align-items: center;
} 
.astro-social-share a {
  text-decoration: none;
  margin-right: 10px;
}
.astro-social-share svg {
  height: 24px;
}
.astro-social-share a:hover svg  {
  transform: scale(1.2);
  color: rgb(129, 129, 129);
}

.responsive-video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 ratio, change if needed */
  height: 0;
  overflow: hidden;
  border-radius: 0.5rem; /* optional: rounded corners */
}

.responsive-video video,
.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}




